<article class="post-item">
    {% if post.titleImage %}
        {% capture image_src %}{% if post.titleImage.file %}/content/{{ post.path | remove_first:'_posts/' | split:'.' | first }}/{{ post.titleImage.file }}{% else %}{{ post.titleImage.url }}{% endif %}{% endcapture %}
        <div class="post-preview-image container">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <img src="{{ image_src }}" alt="{{ post.title }}" />
            </a>
        </div>
    {% endif %}
    {% if post.titleVideo %}
        {% capture video_src %}{% if post.titleVideo.file %}/content/{{ post.path | remove_first:'_posts/' | split:'.' | first }}/{{ post.titleVideo.file }}{% else %}{{ post.titleVideo.url }}{% endif %}{% endcapture %}
        <div class="post-preview-image container">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <video autoplay muted loop src="{{ video_src }}" alt="{{ post.title }}"></video>
            </a>
        </div>
    {% endif %}

    <div class="post-meta container">
        <time datetime="{{post.date | date_to_xmlschema}}">{{ post.date | date: '%B %d, %Y' }}</time>
        {% if site.data.series[post.series] %}
            &mdash; <a class="channel-link" href="/series/{{ post.series }}">{{ site.data.series[post.series].name }}</a>
        {% endif %}
    </div>

    <a class="post-preview-content" href="{{ site.baseurl }}{{ post.url }}">
        {% unless post.titleImage and post.titleImage.replaceListingTitle %}
            <h1 class="post-title container"><span>{{ post.title }}</span></h1>
        {% endunless %}

        <div class="post-blurb container">
            {% if post.description %}
                {{ post.description | markdownify }}
            {% endif %}
        </div>
    </a>
</article>
