/* ==========================================================================
   Page Footer
   ========================================================================== */
.footer-links {
    margin-bottom: 1.5em;
}

.footer-post {
    display: inline-block;
    font-size: 0.85em;
    max-width: 30em;
}

.footer-post > * {
    display: block;
}
