/*********************
    Index Header
*********************/
#index-header {
    width: 100%;
    height: 60vh;
    max-height: 400px;
    min-height: 200px;
    margin-bottom: 1.2rem;
    text-align: center;
    color: #fff;

    background: url(/images/head1.png);
    background-size: 100% 100%;
}

#index-header .index-logo {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 3rem;
}

#index-header .index-logo img {
    max-width: 160px;
}

/*********************
    Posts List
*********************/
.posts > .post {
    padding: 1em 0;
    border-bottom: 1px solid $lighterGray;

    .post-title {
        text-align: left;
        margin-top: -5px;
        margin-bottom: 0.2em;
    }

    .entry {
        font-size: 14px;
    }

    .entry > *:first-child {
        margin-top: 0;
    }

    &:last-child {
        border-bottom: none;
    }
}