/*********************
    Index Header
*********************/
#index-header {
    width: 100%;
    height: 60vh;
    max-height: 400px;
    min-height: 200px;
    margin-bottom: 1.2rem;
    text-align: center;
    color: #fff;

    background: url(/images/head1.png);
    background-size: 100% 100%;
}

#index-header .index-logo {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 3rem;
}

#index-header .index-logo img {
    max-width: 160px;
}

/*********************
    Posts List
*********************/
.posts > .post-item {
    text-align: center;
    display: block;
    padding-bottom: 3rem;

    .post-title {
        margin-top: -4px;
        margin-bottom: 0.2em;
        max-width: 30rem;
        span {
            border-bottom: 1px solid transparent;
        }
    }

    .post-preview-content:hover .post-title span {
        border-bottom-color: $lighterGray;
    }

    .post-preview-image {
        padding-bottom: 0.8em;

        img, video {
            max-height: 50vh;
        }
    }

    .post-blurb {
        font-size: 14px;
        color: $darkGray;
        max-width: 25rem;
    }

    &:first-child {
        margin-top: 3rem;
    }

    &:after {
        margin-top: 3rem;
        display: block;
        font-family: serif;
        content: "\2053"; 
        color: $lightGray;
    }

    &:last-child:after {
        content: "";
    }
}

.pagination {
    margin-top: 2em;
    text-align: center;
}


@media only screen and (max-width: 800px) {
    .posts > .post-item {
        padding-bottom: 2rem;

        &:first-child {
            margin-top: 2rem;
        }

        &:after {
            margin-top: 2rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    .posts > .post-item {
        padding-bottom: 1.2rem;

        &:first-child {
            margin-top: 1.2rem;
        }

        &:after {
            margin-top: 1.2rem;
        }
    }
}