.post {
    overflow: hidden;
}

/*********************
    Post Header
*********************/
.masthead {
    padding-top: 22px;
    padding-bottom: 4px;
    text-align: center;
}

.site-avatar {
    img {
        max-width: 65px;
        border-bottom: 2px solid transparent;
    }

    img:hover {
        border-bottom: 2px solid #333;
    }
}

.post-meta {
    color: $lightGray;
    font: $sansSerif;
    font-size: 0.9rem;
    padding-bottom: 0.4em;
}

// Header
.post-header {
    text-align: center;

    .post-title {
        margin-top: 0;
        margin-bottom: 0.1em;
    }

    .post-meta {
        margin-bottom: 1em;
    }
}

// Footer
.post {
    footer {
        margin-top: 3em;
        text-align: center;
         
        .edit-link {
            display: block;
            width: 100%;
            padding-top: 2em;
            font-size: 90%;
            color: #aaa;
            font-style: italic;
            
            &:hover {
                text-decoration: underline
            }
        }
    }
}

// Post Content
.post {
    font-size: 16px;
    line-height: 1.34;
    
    & > * {
        margin-left: 40px;
        margin-right: 40px;
    }

    figure {
        position: relative;
        padding-top: 1em;
        padding-bottom: 1.2em;
    }
    
    h1 + figure,
    h2 + figure {
        padding-top: 0;
    }

    img, video {
        padding-bottom: 0.2em;
        max-height: 90vh;
    }

    figcaption {
        text-align: center;
        font-style: italic;
        font-size: 0.9em;
        max-width: 440px;
        margin: 0 auto;
    }

    img, iframe, figure, div.highlighter-rouge, video {
        display: block;
        margin: 0 auto;
    }

    iframe {
        max-width: 100%;
    }

    blockquote {
        margin: 1.8em .8em;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-style: italic;
    }

    blockquote p:last-child {
        margin-bottom: 0.4em;
    }

    blockquote.big-quote {
        margin: 1.8em .8em;
        padding: 0;
        color: $gray;
        font-style: italic;
        font-family: Georgia, "Times New Roman", Serif;
        font-size: 1.4em;
        color: $gray;
        text-align: center;
        border: none;
    }

    hr {
        margin-left: 0;
        margin-right: 0;
        border-style: none;
        border-bottom: 1px solid $lighterGray;
    }
    
    hr.stars {
        margin: 2em 0;
        border: none;

        &:before {
            content: "\2042";
            text-align: center;
            width: 100%;
            display: block;
        }
    }

    hr.bullets {
        margin: 3em 0;
        border-style: none;
        border-top: 1px solid $lighterGray;
        text-align: center;
        position: relative;
        overflow: visible;
        
        &:after {
            position: absolute;
            content: "· · ·";
            top: -20px;
            padding: 8px;
            color: $lightGray;
            background: $white;
        }
    }


    & > h1 {
        border-bottom: 1px solid $lighterGray;
        line-height: 1.2em;
        margin: 1.6em 0 0.4em 0;
        padding-top: 0.6em;
        padding-bottom: 0.1em;
    }

    & > h1,
    & > h2 {
        text-align: center;
        font-family: $serif;
    }

    & > h2 {
        margin-top: 2em;
        margin-bottom: 0.8em;
    }

    & > h2 + figure {
        margin-top: 1em;
    }
}

// Story
.post.story {
    font-size: 19px;
    font-family: $serif;
    line-height: 1.4;

    .chapter-heading,
    hr {
        color: $gray;
    }

    hr {
        margin: 2em 0;
        border: none;

        &:before {
            content: "\2042";
            text-align: center;
            width: 100%;
            display: block;
        }
    }

    hr.end {
        padding: 8em;

        &:before {
            content: "END";
            text-align: center;
            width: 100%;
            display: block;
        }
    }

    & > h1 {
        border-bottom: none;
        font-size: 32px;
        padding: 2em 0 2em 0;
        margin-top: 4em;
    }

    & > h1:first-of-type  {
        margin-top: 0;
    }
}

.post-aside-info {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

// Nav
.post-nav > * {
    width: 50%;
    min-height: 1px;
    float: left;
    text-align: left;
}

.post-nav .next {
    text-align: right;
}

.wrapper-footer {
    margin-top: 50px;
}

.page-footer {
    padding: 20px 0;
    text-align: center;
    font-size: 80%;
    color: $lightGray;

    nav a {
        color: inherit;
    }
    nav a:hover {
        text-decoration: underline;
    }
}


@media only screen and (max-width: 800px) {
    .post.story {
        font-size: 18px;
    }

    .post > * {
        margin-left: 24px;
        margin-right: 24px;
    }
    
    .post figure {
        padding-top: 0.2em;
        padding-bottom: 0.6em;
    }
}

@media only screen and (max-width: 500px) {
    .post.story {
        font-size: 17px;
    }

    .post > * {
        margin-left: 6px;
        margin-right: 6px;
    }
}