/* ==========================================================================
  Post Side Pagination
   ========================================================================== */
.body-pagination {
    .post-pagination-link {
        display: block;
        position: fixed;
        top: 50%;
        height: 0;
        padding: 1.6rem;
        font-size: 40px;
        color: $gray;
    }

    .prev-post {
        left: 0;
    }

    .prev-post::after {
        content: "\2329";
    }

    .next-post {
        right: 0;

        &::after {
            content: "\232a";
        }
    }
}


.footer-pagination .post-pagination-link {
    display: block;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-pagination-link:hover {
    text-decoration: none;
}


@media only screen and (max-width: 900px) {
    .body-pagination  {
        display: none;
    }
}