@import url(//fonts.googleapis.com/css?family=Lato:300);

// Colors
$blue: #57A3E8;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #444;
$gray: #666;
$lightGray: #aaa;
$lighterGray: #eee;
$white: #fcfcfc;

// Fonts
$sansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lato: Lato, $sansSerif;
$serif: Georgia, 'Times New Roman', Times, serif;
