// Colors
$blue: #57A3E8;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #444;
$gray: #666;
$lightGray: #eee;
$white: #fcfcfc;

// Fonts
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lato: Lato, $helveticaNeue, sans-serif;
