<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    
    {% feed_meta %}
  </head>

  <body>
    {{ content }}

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer page-footer">
            <nav class="footer-links">
                <a href="http://github.com/mattbierner/mattbierner.github.io">Source</a>
            </nav>

            <p id="copyright">&copy; 2016 by Matt Bierner</p>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
