---
layout: default
---

<div class="toc-container">
    <nav class="toc hidden">
        <h1 class="toc-root"><a href="#">#</a></h1>
        <div class="toc-content"></div>
    </nav>
</div>

<header class="masthead">
    <a href="{{ site.baseurl }}/" class="site-avatar">
        <img src="/images/uwtb-post.svg" alt="UWTB" />
    </a>
</header>

<article role="main" class="main post container {{ page.type }}">
    <header class="post-header">
        {% if page.titleImage and page.titleImage.replacePageTitle %}
            {% capture image_src %}{% if page.titleImage.file %}/content/{{ page.path | remove_first:'_posts/' | split:'.' | first }}/{{ page.titleImage.file }}{% else %}{{ page.titleImage.url }}{% endif %}{% endcapture %}
            <div class="post-preview-image container">
                <a href="{{ site.baseurl }}{{ page.url }}">
                    <img src="{{ image_src }}" alt="{{ page.title }}" />
                </a>
            </div>
        {% else %}
            <h1 class="post-title">{{ page.title }}</h1> 
        {% endif %}

        <div class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema}}">{{ page.date | date: "%B %e, %Y" }}</time>
            {% if site.data.series[page.series] %}
                &mdash; <a class="channel-link" href="/series/{{ page.series }}">{{ site.data.series[page.series].name }}</a>
            {% endif %}
        </div>
    </header>

    {{ content }}

    <footer class="post-footer">
        <nav class="post-nav clearfix">
            <div class="prev">
                {% if page.previous.url %} 
                <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> 
                {% endif %}
            </div>
            <div class="next">
                {% if page.next.url %} 
                <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a> 
                {% endif %} 
            </div>
        </nav>
        <a class="edit-link" href="https://github.com/mattbierner/blog.mattbierner.com/issues/new">Leave a comment or share feedback on github</a>
    </footer>
</article>

<nav class='post-pagination body-pagination'>
    {% if page.previous.url %} 
    <a title="Previous: {{ page.previous.title}}" href="{{page.previous.url}}" class="post-pagination-link prev-post"></a>
    {% endif %}
    {% if page.next.url %} 
    <a title="Next: {{page.next.title}}" href="{{page.next.url}}" class="post-pagination-link next-post"></a>
    {% endif %} 
</nav>

<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/jquery.toc.js"></script>
<script type="text/javascript" src="/scripts/index.js"></script>